<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Serruerie generale, montages portes, instalation porte">
    <meta name="author" content="Andrei Gache">
    <title>{% block title %}Proiect Andrei{% endblock %}</title>

    {% block stylesheet %}
    {% endblock %}
</head>

<body {% block atribute_body %} {% endblock %}>

{% block body %}

{% endblock %}

{% block js_dependency %}

{% endblock %}

</body>

</html>