<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Matu Fab'Metal{% endblock %}</title>
    <meta name="description" content="serruerie generale, montage des portes, menuserie métallique, dépannage ">
    <meta name="author" content="www.andrei-gache.com">
    {% image '@FrontBundle/Resources/public/img/favicon.png' %}
        <link rel="icon"  href="{{ asset_url }}" />
    {% endimage %}
    {% block stylesheet %}
    {% endblock %}
</head>

<body {% block atribute_body %} {% endblock %}>
<h1 style="display: none;">Serruerie generale, montage des portes et menuserie métallique</h1>
{% block body %}

{% endblock %}

{% block js_dependency %}

{% endblock %}

</body>

</html>